body {
    /* font-family:; */
    /* font-size: 12px; */
} 

/* p {
    font-size: 12px;
} */

#header {
    background-color:white;
    color:red;
    text-align:center;
    padding:5px;
    width: 100%;
    margin:0 auto; 
}
hr.headline {/*内嵌水平线*/
    width:100%;
    margin:0 auto;
    border: 0;
    height: 4px;
    border-top: 1px solid red;
    border-bottom: 4px solid red;
}

p.shuming{
    text-align:right;
    font-family: Arial, Georgia, Source Han Serif SC;
}
h1.title{
    font-family: Arial, Georgia, Source Han Serif SC;
}

/*正文的样式*/
#core {
    background-color:white;
    color:black;
    padding:5px;
    width: 100%;
    margin:0 auto; 
    text-indent: 2em;
    align-self: center;
    /* text-align-last:justify; */
    /* text-align:justify; */
    /* justify-content:space-between; */
    /* -moz-text-align-last:justify; */
    /* -webkit-text-align-last:justify;chrome 20+ */
    /* font-size: 18px; */
}

#pic {
    align-self: center;
    text-align: center;
    /* font-size: 18px; */
}

/*禁止一级标题跟随正文缩进*/
h2{
    text-indent: 0em;
}

#table1 {
    width:100%;
    border-collapse: collapse;
    font-size: 0.8em;
    table-layout: fixed;
    text-align: left;
    text-indent: 0em;
}
#table1 tr{
    text-align: left;
}
#table1 td, #table1 th{
    /* padding-left: 1px; */
    border: 1px solid #98bf21;
    padding: 0px 0px;
}
#table1 th{
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 0px;
    color: #000000;

}
#table1  td   {
    text-align: center;
    color: #000000;
    background-color: #eaf2d3; 
} 
#table1 caption {
    font-size: 1.2em;
}
li{
    font-size: 0.8em;
}